/* &display=swap */
@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.header {
	color: #1e212c;
	/* добавить альтернативный шрифт!!!! */
	font-family: "Lato", "Arial", "sans-serif";
	font-size: 46px;
	font-style: normal;
	font-weight: 900;
	line-height: 60px;
	text-align: left;
}
.text {
	color: #1e212c;
	font-family: "Lato", "Arial", "sans-serif";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 30px;
	text-align: left;
}
.block {
	color: #424551;
	font-family: "Lato", "Arial", "sans-serif";
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
}
.footer {
	color: #424551;
	font-family: "Lato", "Arial", "sans-serif";
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
}
